extends skeleton/skeleton
block title
	title Free Minimal Portfolio

block content
	main.site-main
		.site-main-about
			.site-main-about-profile
				h2.site-main-about-title About me
				p My name is John Doe. I am a designer and Front-end developer based in earth. My designs, solutions and ideas for your brands.
			// .site-main-about-profile

			.site-main-about-capabilities
				h3.site-main-about-subtitle Capabilities

				ul.list-about-capabilities 
					li Branding
					li Illustration
					li Web Design
					li Web Development
			// .site-main-about-capabilities

			.site-main-about-img
				img(src="assets/images/portrait.jpg", alt="")
			// .site-main-about-img

			.site-main-about-cta
				p Case study coming soon to all works. See more designs on <a href="#">Dribbble</a>, <a href="#">Instagram</a> or <a href="#">Behance</a>.
			// .site-main-about-cta
		// .site-main-about

		.site-main-portfolio
			.portfolio-item
				a.portfolio-item-link(href="#")
					img(src="assets/images/1.jpg", alt="")

				header.portfolio-item-header
					h3.portfolio-item-title Project Title
					span.portfolio-item-category <a href="#">Branding</a>, <a href="#">Identity</a>
					span.portfolio-item-niche <a href="#">Case Study ( Coming Soon )</a>
			// .portfolio-item

			.portfolio-item
				a.portfolio-item-link(href="#")
					img(src="assets/images/2.jpg", alt="")

				header.portfolio-item-header
					h3.portfolio-item-title Project Title
					span.portfolio-item-category <a href="#">Typography</a>
					span.portfolio-item-niche <a href="#">Case Study ( Coming Soon )</a>
			// .portfolio-item

			.portfolio-item
				a.portfolio-item-link(href="#")
					img(src="assets/images/3.jpg", alt="")

				header.portfolio-item-header
					h3.portfolio-item-title Project Title
					span.portfolio-item-category <a href="#">Illustration</a>, <a href="#">Art Direction</a>
					span.portfolio-item-niche <a href="#">Case Study ( Coming Soon )</a>
			// .portfolio-item

			.portfolio-item
				a.portfolio-item-link(href="#")
					img(src="assets/images/4.jpg", alt="")

				header.portfolio-item-header
					h3.portfolio-item-title Project Title
					span.portfolio-item-category <a href="#">Street Art</a>
					span.portfolio-item-niche <a href="#">Case Study ( Coming Soon )</a>
			// .portfolio-item

			.portfolio-item
				a.portfolio-item-link(href="#")
					img(src="assets/images/5.jpg", alt="")

				header.portfolio-item-header
					h3.portfolio-item-title Project Title
					span.portfolio-item-category <a href="#">Art Direction</a>
					span.portfolio-item-niche <a href="#">Case Study ( Coming Soon )</a>
			// .portfolio-item

			.portfolio-item
				a.portfolio-item-link(href="#")
					img(src="assets/images/6.jpg", alt="")

				header.portfolio-item-header
					h3.portfolio-item-title Project Title
					span.portfolio-item-category <a href="#">Branding</a>, <a href="#">Web Design</a>, <a href="#">App. Design</a>
					span.portfolio-item-niche <a href="#">Case Study ( Coming Soon )</a>
			// .portfolio-item			
		// .site-main-portfolio

	// .site-main