/* --------------------------------------------------- *
 * COLOURS
/* --------------------------------------------------- */
$color-primary: #2937f0;
$color-dark: #161616;

$text-color-default: #161616;
$text-color-default-strong: #161616;
$text-color-gray: #969696;